/* imports */

@font-face {
  font-family: NeueHaasGroteskDisplay;
  src: url("./fonts/NeueHaasGroteskDisplay-Light.otf") format("opentype");
}

/* common */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

:root {
  --grey-color: #f5f5f5;
  --grey-color-2: #868684;
  --blue-color: #2960ed;
}

body {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: NeueHaasGroteskDisplay;
}

a {
  text-decoration: none;
}

.navigation-item-link:visited {
  color: #000;
}

a.navigation-item-link:hover {
  transition: 0.3s;
  color: var(--blue-color);
}

ul {
  list-style-type: none;
}

.title,
.skills,
.education {
  background-color: var(--grey-color);
}

h2 {
  font-size: 54px;
}

/* title section */

nav {
  display: flex;
  justify-content: space-between;
  margin: 60px auto 0;
  width: 90%;
  font-size: 24px;
}

.navigation-title {
  flex-basis: 50%;
  flex-shrink: 1;
}

.navigation-items {
  display: flex;
  flex-basis: 50%;
  flex-shrink: 1;
}

.navigation-item {
  margin-right: 15px;
}

.navigation-item a {
  position: relative;
  display: block;
}

.navigation-item a:after {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--blue-color);
  content: "";
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.navigation-item a:hover:after,
.navigation-item a:focus:after {
  height: 3px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.navigation-item:last-child {
  margin-right: 0;
}

.hamburger-menu {
  display: none;
}

/* rotating text */
#rotating-container {
  position: relative;
}

#circle {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  overflow: hidden;
}

#circle text {
  font-size: 12px;
  color: var(--blue-color);
  line-height: 21px;
}

#circle svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 460px;
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 30s;
  -moz-animation-duration: 30s;
  -ms-animation-duration: 30s;
  -o-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(0);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  from {
    -o-transform: rotate(0);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#img {
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(0);
    }
  }
}
#me-img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  margin: auto;
  border-radius: 50%;
}

.about-me {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.about-me-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

.about-me-text-left {
  font-style: italic;
  font-size: 36px;
  flex-basis: 50%;
}

.about-me-text-right {
  font-size: 22px;
  flex-basis: 50%;
}

main {
  padding-top: 50px;
}

/*expirience section*/
.expirience {
  padding: 60px 0;
}

.experience-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.experience-container-left {
  font-size: 42px;
  flex-basis: 50%;
  line-height: 30px;
}

.experience-container-right {
  font-size: 22px;
  flex-basis: 50%;
  display: flex;
  border-bottom: 1px solid;
}

.company {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 25px;
}

.company-title {
  font-weight: bold;
  font-size: 40px;
}

.company-date,
.tech-stack-text,
.responsibilities-text {
  font-size: 20px;
}

.tech-stack {
  margin-bottom: 25px;
}

.tech-stack-title,
.responsibilities-title {
  color: var(--grey-color-2);
  font-size: 20px;
  margin-bottom: 10px;
}

.responsibilities {
  margin-bottom: 25px;
}

/*skills section*/

.skills-section {
  margin-top: 50px;
  padding: 70px;
}

.skills-section-title {
  font-size: 48px;
}

.skills-container,
.skills-title-container {
  margin: 60px auto 0;
  display: flex;
  justify-content: space-between;
}

.skills-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.skills-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container-item svg {
  width: 100px;
  stroke: var(--blue-color);
}

.skills-container-item span {
  font-size: 22px;
}

/*projects section*/

.projects {
  width: 90%;
  margin: 60px auto;
}
.projects-container {
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
}

.projects-container-item {
  width: 30%;
}

.projects-container-item img {
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
}

.projects-container-item-title,
.projects-container-item-text {
  margin-bottom: 20px;
}

.projects-container-item a {
  display: flex;
  align-items: baseline;
}

/*education*/
.education {
  padding: 60px 0;
}

.education-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.education-container-title {
  display: block;
  width: 100%;
  margin-bottom: 60px;
}

.education-container-right,
.education-container-left {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.education-container-right {
  padding-left: 50px;
}

.education-container-text {
  width: 70%;
}

.education-container-img {
  width: 30%;
}

.education-container-text-title {
  display: block;
  font-weight: bold;
  font-size: 30px;
}

.education-container-text-date {
  margin: 10px 0;
}

.education-container-img {
  display: flex;
  justify-content: end;
}

.mate_academy {
  width: 150px;
  height: 45px;
}
.nuft {
  width: 70px;
  height: 55px;
}

/*contacts*/
.contacts {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding: 60px 0;
}

.contacts-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.contacts-container-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contacts-container-left h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.contacts-container-left p {
  color: var(--blue-color);
}

.contacts-container-right {
  display: flex;
  width: 50%;
}

.contacts-container-right-first,
.contacts-container-right-second {
  width: 50%;
}
.contacts-phone {
  margin-bottom: 10px;
}
.contacts-title {
  color: #868684;
  font-size: 12px;
  margin-bottom: 10px;
}

.contacts-social-link {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 8px;
}

.contacts-email a {
  color: #ffffff;
}

.contacts-social-link:hover,
.contacts-email a:hover {
  color: var(--blue-color);
  transition: 0.3s;
}

.contacts-slogan {
  text-align: center;
  color: var(--blue-color);
}

/*to the top button*/

.back-to-top {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: var(--blue-color);
  color: #ffffff;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s;
}

/* mobile */
.menu-toggle {
  display: none;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  max-width: 300px;
  height: calc(100vh - 200px);
  background-color: #333;
  padding-top: 60px;
  text-align: center;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.menu.open {
  display: block; /* Show the menu items when the hamburger menu is clicked */
  transform: translateX(0%); /* Move the menu onto the screen when open */
}

.menu li {
  opacity: 0; /* Initially hide the menu items */
  transition: opacity 0.3s ease-in-out; /* Add transition property */
}

.menu.open li {
  opacity: 1; /* Fade in the menu items when menu is open */
}

.menu a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.menu-toggle {
  display: block; /* Show the hamburger menu for mobile devices */
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: transparent;
  border: none;
  outline: none;
}

.menu-toggle span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
  transition: background-color 0.3s ease-in-out;
}

.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navigation-items,
  input[type="checkbox"] {
    display: none;
  }

  .navigation-title {
    flex-basis: 100%;
    text-align: center;
  }

  #circle > svg {
    display: none;
  }

  nav {
    margin: 40px auto 0;
  }

  h2 {
    font-size: 30px;
  }
  .navigation-title h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .company-title {
    font-size: 24px;
  }

  main {
    padding-top: 20px;
  }

  .about-me-container {
    padding: 0;
    text-align: center;
  }

  .about-me-text-left {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .about-me-container,
  .experience-container,
  .projects-container,
  .education-container,
  .contacts-container {
    flex-direction: column;
  }

  .about-me,
  .skills-wrapper,
  .projects,
  .contacts,
  .contacts-container {
    padding: 20px 0;
  }

  .projects {
    margin: 0 auto;
  }

  .projects-container-item {
    width: 100%;
  }

  .projects-container-item img {
    width: 100%;
    max-width: 450px;
    height: 25vh;
  }

  .skills-container {
    margin: 0;
    padding: 20px 0;
  }

  .experience {
    padding: 0 0 20px 0;
  }

  .experience-container-left {
    margin-bottom: 40px;
  }

  .skills-container-item {
    width: 100%;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
  }

  .skills-container > div {
    flex: 50%;
    margin-bottom: 10px;
  }

  .projects-container-item {
    margin-bottom: 30px;
    border-bottom: 1px solid;
  }

  .education-container-left {
    margin-bottom: 20px;
  }

  .education-container-right {
    padding-left: 0;
  }

  .education-container-left,
  .education-container-right {
    width: 100%;
  }

  .education-container-text-title {
    font-size: 22px;
  }

  .contacts-container-right {
    width: 100%;
  }

  .contacts-container-left {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  .contacts-container-right-first,
  .contacts-container-right-second {
    text-align: center;
  }

  .back-to-top {
    display: none !important;
  }
}

/*
To do:
-fix navbar and anchors on mobile
-add close button to navbar
-add hover effect for project links
-gradient color when user scrolling down?
*/
