/* imports */

@font-face {
  font-family: NeueHaasGroteskDisplay;
  src: url('./fonts/NeueHaasGroteskDisplay-Light.otf') format('opentype');
}

/* common */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

:root {
  --grey-color: #f5f5f5;
  --grey-color-2: #868684;
  --purple-color: #af9fff;
}

body {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

.purple-color {
  color: var(--purple-color);
}

.navigation-item-link:visited {
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.title {
  background-color: #000000;
  position: relative;
}

h2 {
  font-size: 54px;
}

/* title section */

.menu {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 56px 50px;
  width: 90%;
  font-size: 1.5em;
  background-color: #000000;
  color: #ffffff;
}

.navigation-items {
  display: flex;
  flex-basis: 50%;
  flex-shrink: 1;
}

.navigation-item {
  margin-right: 15px;
  font-weight: bold;
}

.navigation-item a {
  position: relative;
  display: block;
  color: #ffffff;
  transition: all 0.4s linear;
}

.navigation-item a:hover {
  color: var(--purple-color);
}

.navigation-item a:after {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--blue-color);
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.navigation-item a:hover:after,
.navigation-item a:focus:after {
  height: 3px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.navigation-item:last-child {
  margin-right: 0;
}

.hamburger-menu {
  display: none;
}

.about-me,
.about-me-second {
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
  color: #ffffff;
}

.about-me {
  padding: 70px 0;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 10px 50px;
}

/*circles*/

#circles {
  position: absolute;
  top: 30%;
  right: 0;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.circle {
  width: 200px;
  height: 200px;
  top: 0;
  left: 100px;
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
  border: 20px dashed var(--purple-color);
  border-radius: 50%;
  position: absolute;
  animation: rotate 7s linear infinite;
  transform: rotate(180deg);
}

/* Animation for rotating the circle */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-me-container > h1 {
  font-size: 4em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.about-me-second {
  display: flex;
  background-color: #ffffff;
  color: #000000;
}

.about-me-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me-left,
.about-me-right {
  width: 50%;
  padding: 0 0 0 50px;
}

.about-me-left span {
  text-align: center;
}

.about-me-right img {
  width: 100%;
  height: auto;
}

/*expirience section*/
.experience {
  padding: 60px 0;
  background-color: #1c1c1c;
  color: #ffffff;
}

.experience-title {
  text-align: center;
  margin-bottom: 50px;
}

.experience-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  padding: 0 50px;
  margin-bottom: 30px;
}

.experience-container-right {
  font-size: 22px;
  flex-basis: 100%;
  display: flex;
  border-bottom: 1px solid;
}

.tech-stack,
.responsibilities {
  display: flex;
  flex-direction: column;
}

.job-bg {
  background-repeat: no-repeat;
  background-size: 30%;
}

.job-armed-forces {
  background-image: url('imgs/static_circle.svg');
  background-position: bottom right;
}

.job-playtech {
  background-image: url('imgs/static_circle_1.svg');
  background-position: bottom right;
}

.job-infopulse {
  background-image: url('imgs/static_circle_2.svg');
  background-position: top left;
}

.job-energy-soft {
  background-image: url('imgs/static_circle.svg');
  background-position: bottom right;
}

.company {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 25px;
  flex-basis: 50%;
}

.job-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-basis: 50%;
  background-color: var(--purple-color);
  border-radius: 15px;
  padding: 20px;
}

.company-title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

.company-date,
.tech-stack-text,
.responsibilities-text {
  font-size: 20px;
}

.tech-stack {
  margin-bottom: 25px;
}

.tech-stack-title,
.responsibilities-title {
  color: var(--grey-color);
  font-size: 20px;
  margin-bottom: 10px;
}

.responsibilities {
  margin-bottom: 25px;
}

/*skills section*/

.skills-section {
  margin-top: 50px;
  padding: 70px;
}

.skills-section-title {
  font-size: 48px;
}

.skills-container,
.skills-title-container {
  margin: 60px auto 0;
  display: flex;
  justify-content: space-between;
}

.skills-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.skills-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container-item svg {
  width: 100px;
  stroke: var(--purple-color);
}

.skills-container-item span {
  font-size: 22px;
}

/*job-type section*/
.job-type {
  width: 90%;
  margin: 60px auto;
}

.job-type-title {
  text-transform: uppercase;
}
/*projects section*/

.projects {
  width: 90%;
  margin: 60px auto;
}
.projects-container {
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
}

.projects-container-item {
  width: 30%;
}

.projects-container-item img {
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
}

.projects-container-item a {
  display: inline-block;
  overflow: hidden;
}

.projects-container-item-purple {
  background-color: var(--purple-color);
}

.projects-container-item-text {
  display: flex;
  align-items: flex-end;
}

/*education*/
.education {
  padding: 60px 0;
}

.education-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.education-container-title {
  display: block;
  width: 100%;
  margin-bottom: 60px;
}

.education-container-right,
.education-container-left {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.education-container-right {
  padding-left: 50px;
}

.education-container-text {
  width: 70%;
}

.education-container-img {
  width: 30%;
}

.education-container-text-title {
  display: block;
  font-weight: bold;
  font-size: 30px;
}

.education-container-text-date {
  margin: 10px 0;
}

.education-container-img {
  display: flex;
  justify-content: end;
}

.mate_academy {
  width: 150px;
  height: 45px;
}
.nuft {
  width: 70px;
  height: 55px;
}

/*contacts*/
.contacts {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding: 60px 0;
}

.contacts-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.contacts-container-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contacts-container-left h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.contacts-container-left p {
  color: var(--blue-color);
}

.contacts-container-right {
  display: flex;
  width: 50%;
}

.contacts-container-right-first,
.contacts-container-right-second {
  width: 50%;
}
.contacts-phone {
  margin-bottom: 10px;
}
.contacts-title {
  color: #868684;
  font-size: 12px;
  margin-bottom: 10px;
}

.contacts-social-link {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 8px;
}

.contacts-email a {
  color: #ffffff;
}

.contacts-social-link:hover,
.contacts-email a:hover {
  color: var(--blue-color);
  transition: 0.3s;
}

.contacts-slogan {
  text-align: center;
  color: var(--blue-color);
}

/*to the top button*/

.back-to-top {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: var(--blue-color);
  color: #ffffff;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s;
}

/* mobile */

@media screen and (max-width: 768px) {
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
  }

  .close-btn:hover {
    color: #ccc;
  }

  .menu-toggle,
  .menu-toggle input {
    display: none !important;
  }

  .menu {
    display: none;
    width: 100%;
    position: fixed;
    top: -40px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333;
    transform: translateX(100%);
    animation: openMenu 0.5s forwards;
    z-index: 1;
    height: calc(100vh - 400px);
  }

  @keyframes openMenu {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .menu.open {
    display: block;
    transform: translateX(0%);
  }

  .menu li {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .menu.open li {
    opacity: 1;
  }

  .menu a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }

  .menu-toggle {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .menu-toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  .menu-toggle,
  .hamburger-menu {
    display: block;
  }

  .menu.show {
    display: block;
  }

  header {
    color: #000000;
    padding: 10px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .navbar-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 3px 0;
  }

  .menu {
    display: none;
  }

  .menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }

  .content {
    padding: 20px;
  }

  .navigation-items,
  input[type='checkbox'] {
    display: none;
  }

  .navigation-title {
    flex-basis: 100%;
    text-align: center;
  }

  #circle > svg {
    display: none;
  }

  nav {
    margin: 40px auto 0;
  }

  h2 {
    font-size: 30px;
  }
  .navigation-title h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .company-title {
    font-size: 24px;
  }

  main {
    padding-top: 20px;
  }

  .about-me-container {
    padding: 0;
    text-align: center;
  }

  .about-me-text-left {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .about-me-container,
  .experience-container,
  .projects-container,
  .education-container,
  .contacts-container {
    flex-direction: column;
  }

  .about-me,
  .skills-wrapper,
  .projects,
  .contacts,
  .contacts-container {
    padding: 20px 0;
  }

  .projects {
    margin: 0 auto;
  }

  .projects-container-item {
    width: 100%;
  }

  .projects-container-item img {
    width: 100%;
    max-width: 400px;
    height: 25vh;
  }

  .skills-container {
    margin: 0;
    padding: 20px 0;
  }

  .experience {
    padding: 0 0 20px 0;
  }

  .experience-container-left {
    margin-bottom: 40px;
  }

  .skills-container-item {
    width: 100%;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
  }

  .skills-container > div {
    flex: 50%;
    margin-bottom: 10px;
  }

  .projects-container-item {
    margin-bottom: 30px;
    border-bottom: 1px solid;
  }

  .education-container-left {
    margin-bottom: 20px;
  }

  .education-container-right {
    padding-left: 0;
  }

  .education-container-left,
  .education-container-right {
    width: 100%;
  }

  .education-container-text-title {
    font-size: 22px;
  }

  .contacts-container-right {
    width: 100%;
  }

  .contacts-container-left {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  .contacts-container-right-first,
  .contacts-container-right-second {
    text-align: center;
  }

  .back-to-top {
    display: none !important;
  }
}

/*
To do:
-add hover effect for project links
-gradient color when user scrolling down?
-test on different browsers
*/
