/* imports */

@font-face {
  font-family: NeueHaasGroteskDisplay;
  src: url("./fonts/NeueHaasGroteskDisplay-Light.otf") format("opentype");
}

/* common */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

:root {
  --grey-color: #f5f5f5;
  --grey-color-2: #868684;
  --blue-color: #2960ed;
}

body {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: NeueHaasGroteskDisplay;
}

a {
  text-decoration: none;
}

.navigation-item-link:visited {
  color: #000;
}

a.navigation-item-link:hover {
  transition: 0.3s;
  color: var(--blue-color);
}

ul {
  list-style-type: none;
}

.title,
.skills,
.education {
  background-color: var(--grey-color);
}

h2 {
  font-size: 54px;
}

/* title section */

nav {
  display: flex;
  justify-content: space-between;
  margin: 60px auto 0;
  width: 90%;
  font-size: 24px;
}

.navigation-title {
  flex-basis: 50%;
  flex-shrink: 1;
}

.navigation-items {
  display: flex;
  flex-basis: 50%;
  flex-shrink: 1;
}

.navigation-item {
  margin-right: 15px;
}

.navigation-item a {
  position: relative;
  display: block;
}

.navigation-item a:hover {
  color: #000000;
}

.navigation-item a:after {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000000;
  content: "";
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.navigation-item a:hover:after,
.navigation-item a:focus:after {
  height: 3px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.navigation-item:last-child {
  margin-right: 0;
}

.hamburger-menu {
  display: none;
}

/* rotating text */
#rotating-container {
  position: relative;
}

#circle {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  overflow: hidden;
}

#circle text {
  font-size: 12px;
  color: var(--blue-color);
  line-height: 21px;
}

#circle svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 460px;
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 30s;
  -moz-animation-duration: 30s;
  -ms-animation-duration: 30s;
  -o-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(0);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  from {
    -o-transform: rotate(0);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#img {
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(0);
    }
  }
}
#me-img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  margin: auto;
  border-radius: 50%;
}

#about-me {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 120px;
}

.about-me-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

.about-me-text-left {
  font-style: italic;
  font-size: 36px;
  flex-basis: 50%;
}

.about-me-text-right {
  font-size: 22px;
  flex-basis: 50%;
}

main {
  padding-top: 50px;
}

/*expirience section*/

.expirince-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.expirince-container-left {
  font-size: 42px;
  flex-basis: 50%;
  line-height: 30px;
}

.expirince-container-right {
  font-size: 22px;
  flex-basis: 50%;
  display: flex;
  border-bottom: 1px solid;
}

.company {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 25px;
}

.company-title {
  font-weight: bold;
  font-size: 40px;
}

.company-date,
.tech-stack-text,
.responsibilities-text {
  font-size: 20px;
}

.tech-stack {
  margin-bottom: 25px;
}

.tech-stack-title,
.responsibilities-title {
  color: var(--grey-color-2);
  font-size: 20px;
  margin-bottom: 10px;
}

.responsibilities {
  margin-bottom: 25px;
}

/*skills section*/

.skills-section {
  margin-top: 50px;
  padding: 70px;
}

.skills-section-title {
  font-size: 48px;
}

.skills-container,
.skills-title-container {
  margin: 60px auto 0;
  display: flex;
  justify-content: space-between;
}

.skills-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.skills-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container-item svg {
  width: 100px;
  stroke: var(--blue-color);
}

.skills-container-item span {
  font-size: 22px;
}

/*projects section*/

.projects {
  width: 90%;
  margin: 60px auto;
}
.projects-container {
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
}

.projects-container-item {
  width: 30%;
}

.projects-container-item img {
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
}

.projects-container-item-title,
.projects-container-item-text {
  margin-bottom: 20px;
}

.projects-container-item a {
  display: flex;
  align-items: baseline;
}

/*education*/

.education-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 60px 0;
  width: 90%;
  margin: 0 auto;
}

.education-container-title {
  display: block;
  width: 100%;
  margin-bottom: 60px;
}

.education-container-right,
.education-container-left {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.education-container-right {
  padding-left: 50px;
}

.education-container-text {
  width: 70%;
}

.education-container-img {
  width: 30%;
}

.education-container-text-title {
  display: block;
  font-weight: bold;
  font-size: 30px;
}

.education-container-text-date {
  margin: 10px 0;
}

.education-container-img {
  display: flex;
  justify-content: end;
}

.mate_academy {
  width: 150px;
  height: 45px;
}
.nuft {
  width: 70px;
  height: 55px;
}

/*contacts*/
.contacts {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding-bottom: 50px;
}

.contacts-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.contacts-container-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contacts-container-left h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.contacts-container-left p {
  color: var(--blue-color);
}

.contacts-container-right {
  display: flex;
  width: 50%;
}

.contacts-container-right-first,
.contacts-container-right-second {
  width: 50%;
}
.contacts-phone {
  margin-bottom: 10px;
}
.contacts-title {
  color: #868684;
  font-size: 12px;
  margin-bottom: 10px;
}

.contacts-social-link {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 8px;
}

.contacts-email a {
  color: #ffffff;
}

.contacts-social-link:hover,
.contacts-email a:hover {
  color: var(--blue-color);
  transition: 0.3s;
}

.contacts-slogan {
  text-align: center;
  color: var(--blue-color);
}
/*to the top button*/

.btn {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--font-color);
  color: white;
  border: none;
}

.btn {
  content: "";
  display: inline-block;
  margin-top: 7px;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #fff;
  border-right: 0.5em solid #fff;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* footer */

/* mobile */
@media only screen and (max-width: 600px) {
  /* burger menu */
  .hamburger-menu {
    display: block;
  }

  label .menu {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100px;
    height: 100px;
    border-radius: 0 0 0 100px;
    background: #fff;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  }

  label .hamburger {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: var(--font-color);
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  label .hamburger:after,
  label .hamburger:before {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--font-color);
  }

  label .hamburger:before {
    top: -10px;
  }

  label .hamburger:after {
    bottom: -10px;
  }

  label input {
    display: none;
  }

  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
    border-radius: 0;
  }

  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }

  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }

  label input:checked + .menu + ul {
    opacity: 1;
  }

  label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.25s 0s ease-in-out;
    transition: 0.25s 0s ease-in-out;
  }
  .hamburger-menu ul {
    list-style: none;
  }

  label ul li a {
    margin-bottom: 1em;
    display: block;
    color: var(--font-color);
  }
}
